@tailwind base;
@tailwind components;
@tailwind utilities;

.chat-box::-webkit-scrollbar {
  width: 0px; /* Hide the scrollbar */
}

.chat-box {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
